# Dependency directories
/node_modules
/.pnp
.pnp.js

# Directory for instrumented code created by nyc
/coverage

# dotenv environment variables file
.env

# TypeScript build output
/dist

# Editor directories and files
/.vscode
/.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw??
