
.button
{
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
}
button
{
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
transition: 0.5s ease all;
}

button:hover
{
box-shadow: none !important;
}
@media (max-width: 650px),(max-height: 777px) {
    .button 
{
    margin: 0rem 2vw;
    font-weight: 300;
    font-size: 1.2rem;
    height: 1.2rem;
}

}