.container
{
    justify-content: center;
}
.automatic-refuel
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 75vh;
}

.button button
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
}


@media (max-width: 650px),(max-height: 777px)  {
    .automatic-refuel
{
    height: 0;
}
h4{
    margin: 0.5vh 0;
}
}
