.header
{
    text-align: start;
    width: 100%;
    background-color: #7700ff;
    color: white;
    top:0;
    position: fixed;

}
.header h1
{
    font-weight: 300;
    margin: 1.1rem;
}

@media (max-width: 650px),(max-height: 777px) {
    .header h1
{
  
    font-weight: 300;
    font-size: 2rem;
}
}